@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/Kanit-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'TitleFont';
  src: url('../fonts/Gruppo-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'ButtonFont';
  src: url('../fonts/Kanit-Light.ttf')  format('truetype');
}

body {
}

h1 {
    font-family: 'TitleFont';
    color: #7a00cc;
    font-size: 2.6em;
    font-style: normal;
}

h2 {
    font-family: 'TitleFont';
    color: #7a00cc;
    font-size: 1.8em;
}

h3 {
    font-family: 'MyWebFont';
    color: #7a00cc;
    font-size: 1.2em;
    line-height: 10%;
}

#menu-bar {
  width: 95%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 40px;
  line-height: 100%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  box-shadow: 0px 0px 0px #666666;
  -webkit-box-shadow: 0px 0px 0px #666666;
  -moz-box-shadow: 0px 0px 0px #666666;
  background: transparent;
  border: solid 0px #7a00cc;
  position:relative;
  z-index:999;
}

#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}

#menu-bar a {
  font-weight: normal;
  font-family: MyWebFont;
  font-style: normal;
  font-size: 1em;
  color: #7a00cc;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  text-shadow: 0px 0px 0px #000000;
}

#menu-bar li ul li a {
  margin: 0;
}

#menu-bar .active a, #menu-bar li:hover > a {
  background: #7a00cc;
  color: #FFFFFF;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 0px 1px #FFFFFF;
}

#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#menu-bar ul a:hover {
  background: #7a00cc !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #FFFFFF;
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px, #7a00cc7;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px #222222;
  -moz-box-shadow: 0px 0px 0px #222222;
  box-shadow: 0px 0px 0px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}

table {
    position: relative;
      padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    font-family: 'ButtonFont';
    font-size: 0.9em;
    background: #7a00cc;
    color: #FFFFFF;
    border: 0px;
    padding: 2px 10px;
}

#article {
    font-family: 'MyWebFont';
    font-size: 1em;
	background-color: #f5e6ff;
    width: 70%;

    line-height: 25px;

    border: 2px solid #7a00cc;
        border-left-width: 15px;
    top: 0px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#container {

    width: 90%;

    line-height: 25px;

    border: 2px solid #7a00cc;
        border-left-width: 15px;
    top: 0px;
  display: block;
  overflow:hidden;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#rightpanel  {
    float:right;
    width: 40%;
    min-width: 20%;
    max-width: 20%;
    font-family: 'MyWebFont';
    font-size: 1em;
        line-height: 30px;
    border: 2px solid #9200E7;
        border-left-width: 15px;
    top: 0px;
        margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

code {
  background-color: #EDEDED;
  display: block;
    border: 1px solid #AAAAAA;
        border-left-width: 10px;
}

#footer {
        font-family: Arial, Verdana;
    font-size: 0.8em;
    color: #ffffff;
    background-color:  #7a00cc;
    width: 100%;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

quote {
    font-style: Italic;
}


blockquote {
    font-style: Italic;
    font-size: 1em;

    background-color:  #f2ccff;
    margin: 0px;
        width: 90%;

    border: 0px solid #7a00cc;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#navlogo {
	position: center;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.centerimage
{
	position: center;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #7a00cc;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
	font-family: 'MyWebFont';
    font-size: 25px;
    color: #d699ff;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #FFFFFF;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
